/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/.svn
/.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/loofting
/api-pedidos-web
/ariel
/williamsena13.github.io
/glicemia
dglic-post/
cobranca/
